---
permalink: assets/styles/base-style.css
layout: null
---

{% include 'src/assets/styles/variables.css' %}
{% include 'src/assets/styles/reset.css' %}
{% include 'src/assets/styles/typography.css' %}
{% include 'src/assets/styles/nav.css' %}
{% include 'src/assets/styles/footer.css' %}
