<!DOCTYPE html>
<html lang="{{ lang | default('en', true) }}">

<head>
  <meta charset="UTF-8">
  <title>{{ title }}</title>
  <link rel="stylesheet" href="/assets/styles/base-style.css">

  {% block extendHead %}{% endblock %}
</head>

<body>

  {% block nav %}{% endblock %}

  <main>
    {{ content | safe }}
  </main>

  {% block footer %}{% endblock %}


</body>
</html>
