<nav>
<ul>
    <li><a href="/{{ lang }}/">{{ navigation[lang].home }}</a></li>
    <li><a href="/blog/">{{ navigation[lang].blog }}</a></li>
    <li><a href="/{{ lang }}/academia/">{{ navigation[lang].academia }}</a></li>
    <li><a href="/{{ lang }}/{{ navigation[lang].career  | slug }}/">{{ navigation[lang].career }}</a></li>
    <li><a href="/{{ lang }}/misc/">{{ navigation[lang].misc }}</a></li>
</ul>

<div class="language-grid">
    🏠
    <ul>
    <li><a href="/en/">en</a></li>
    <li><a href="/es/">es</a></li>
    <li><a href="/it/">it</a></li>
    <li><a href="/fr/">fr</a></li>
    </ul>
</div>
</nav>