<footer>
<ul>
    <p>{{ footer[lang].style }}: <a href="">Carla Bordo</a></p>
    <p>{{ footer[lang].deployment }}: {{ footer[lang].me }}, <a href="/{{ lang }}/{{ navigation[lang].contact }}">{{ footer[lang].contact }}</a></p>
</ul>
</footer>